## Preprocessing

In [154]:
#T.Bradford
# October 2021

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [155]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"],1)

#Name is required Accuracy mid 40% with out
#application_df = application_df.drop(["NAME"],1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [156]:
# Determine the number of unique values in each column.

application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [157]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [158]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

#  everything under the 500 classified as other 
application_types_to_replace = list(application_counts[application_counts < 500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [159]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C4120        1
C2561        1
C1820        1
C2600        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [160]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts >= 10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
Name: CLASSIFICATION, dtype: int64

In [161]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

#  everything under the 500 classified as other
classifications_replace = list(class_counts[class_counts < 500].index)
# Replace in dataframe
for cls in classifications_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [162]:
# Look at NAME value counts for binning
name_counts = application_df.NAME.value_counts()
#  How many name counts are greater than 5?
name_counts[name_counts>5]


replace_application = list(name_counts[name_counts <= 5].index)

In [163]:
# Determine which values to replace if counts are less than 6.
replace_application = list(name_counts[name_counts < 5].index)

# Replace in dataframe
for app in replace_application:
    application_df.NAME = application_df.NAME.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.NAME.value_counts()

Other                                     19803
PARENT BOOSTER USA INC                     1260
TOPS CLUB INC                               765
UNITED STATES BOWLING CONGRESS INC          700
WASHINGTON STATE UNIVERSITY                 492
                                          ...
INTERNATIONL TRANSPLANT NURSES SOCIETY        5
ROYAL ORDER OF JESTERS                        5
ARROW CHILD AND FAMILY MINISTRIES             5
SIGMA NU FRATERNITY                           5
RURITAN NATIONAL CORP                         5
Name: NAME, Length: 403, dtype: int64

In [164]:
#  everything under 6 classified as other
classifications_replace = list(name_counts[name_counts < 5].index)
# Replace in dataframe
for cls in classifications_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [165]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = application_df.drop(["STATUS"],1)
#application_df = application_df.drop(["ASK_AMT"],1)
y = application_df["IS_SUCCESSFUL"]

# One-hot encoding data
X2 = application_df.drop(["IS_SUCCESSFUL"], axis='columns')
X = pd.get_dummies(X2)
X

,ASK_AMT,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,36500179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [166]:
#merge encoded data with application data
application_df = application_df.merge(X,left_index=True, right_index=True)

#application_df = application_df.drop(application_cat)
print(application_df.info())

application_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Columns: 456 entries, NAME to SPECIAL_CONSIDERATIONS_Y
dtypes: int64(3), object(8), uint8(445)
memory usage: 17.4+ MB
None

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT_x,IS_SUCCESSFUL,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,N,5000,1,...,0,0,0,0,0,0,0,0,1,0
1,Other,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1,...,1,0,0,0,0,0,0,0,1,0
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1,...,0,1,0,0,0,0,0,0,1,0
4,Other,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1,...,0,0,1,0,0,0,0,0,1,0

In [167]:
# find obect data types
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
print(application_cat)

['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [168]:
#drop obect data types from dataframe 
application_df = application_df.drop(["NAME"],1)
application_df = application_df.drop(["APPLICATION_TYPE"],1)
application_df = application_df.drop(["AFFILIATION"],1)
application_df = application_df.drop(["CLASSIFICATION"],1)
application_df = application_df.drop(["USE_CASE"],1)
application_df = application_df.drop(["ORGANIZATION"],1)
application_df = application_df.drop(["INCOME_AMT"],1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"],1)
application_df.head()

,ASK_AMT_x,IS_SUCCESSFUL,ASK_AMT_y,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,108590,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,6692,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,142590,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [169]:
#drop ASK_AMT_y extra from get_dummies
application_df = application_df.drop(["ASK_AMT_y"],1)

#rename ASK_AMT_x renamed when used get_dummies
application_df.rename(columns={'ASK_AMT_x': 'ASK_AMT'}, inplace=True)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [170]:
#convert string to numberic was getting  ValueError: could not convert string to float:

# X1 = application_df.drop(["STATUS"],1)
#X = application_df.apply(pd.to_numeric, errors='coerce')
#1 = application_df.apply(pd.to_numeric, errors='coerce')


#drop categorical data and separate target
X = application_df.drop(["IS_SUCCESSFUL"], axis='columns').values

y = application_df["IS_SUCCESSFUL"].values


#Dropping 
print(application_df)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

        ASK_AMT  IS_SUCCESSFUL  NAME_AACE INTERNATIONAL  \
0          5000              1                        0
1        108590              1                        0
2          5000              0                        0
3          6692              1                        0
4        142590              1                        0
...         ...            ...                      ...
34294      5000              0                        0
34295      5000              0                        0
34296      5000              0                        0
34297      5000              1                        0
34298  36500179              0                        0

       NAME_ACE MENTOR PROGRAM OF AMERICA INC  NAME_ACTS MINISTRY  \
0                                           0                   0
1                                           0                   0
2                                           0                   0
3                                           0                   0
4                                           0                   0
...                                       ...                 ...
34294                                       0                   0
34295                                       0                   0
34296                                       0                   0
34297                                       0                   0
34298                                       0                   0

       NAME_ACTS MISSIONS  \
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
34294                   0
34295                   0
34296                   0
34297                   0
34298                   0

       NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
34294                                                  0
34295                                                  0
34296                                                  0
34297                                                  0
34298                                                  0

       NAME_AIR FORCE ASSOCIATION  NAME_ALABAMA FEDERATION OF WOMENS CLUBS  \
0                               0                                        0
1                               0                                        0
2                               0                                        0
3                               0                                        0
4                               0                                        0
...                           ...                                      ...
34294                           0                                        0
34295                           0                                        0
34296                           0                                        0
34297                           0                                        0
34298                           0                                        0

       NAME_ALABAMA TREASURE FOREST ASSOCIATION  ...  INCOME_AMT_1-9999  \
0                                             0  ...                  0
1                                             0  ...                  1
2                                             0  ...                  0
3                                             0  ...                  0
4                                             0  ...                  0
...                                         ...  ...                ...
34294                                         0  ...                  0
34295                                         0  ...                  0
34296                                         0  ...                  0
34297                                         0  ...                  0
34298                                         0  ...                  0

       INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  \
0                           0                         0                   0
1                           0                         0                   0
2                           0                         0                   0
3                           1                         0                   0
4                           0                         1                   0
...                       ...                       ...                 ...
34294                       0                         0                   0
34295                       0                         0                   0
34296                       0                         0                   0
34297                       0                         0                   0
34298                       0                         0                   0

       INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  INCOME_AMT_50M+  \
0                     0                       0                0
1                     0                       0                0
2                     0                       0                0
3                     0                       0                0
4                     0                       0                0
...                 ...                     ...              ...
34294                 0                       0                0
34295                 0                       0                0
34296                 0                       0                0
34297                 0                       0                0
34298                 1                       0                0

       INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                      0                         1                         0
1                      0                         1                         0
2                      0                         1                         0
3                      0                         1                         0
4                      0                         1                         0
...                  ...                       ...                       ...
34294                  0                         1                         0
34295                  0                         1                         0
34296                  0                         1                         0
34297                  0                         1                         0
34298                  0                         1                         0

[34299 rows x 447 columns]

In [171]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [172]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.layers import LeakyReLU, Dense

number_input_features = len(X_train[0])
print(number_input_features)
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()
leaky_relu = LeakyReLU(alpha=0.001)

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation=leaky_relu))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# ADD third Layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

446
Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_24 (Dense)             (None, 100)               44700
_________________________________________________________________
dense_25 (Dense)             (None, 50)                5050
_________________________________________________________________
dense_26 (Dense)             (None, 10)                510
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 11
=================================================================
Total params: 50,271
Trainable params: 50,271
Non-trainable params: 0
_________________________________________________________________

In [173]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [174]:
 #Create a callback that saves the model's weights every epoch

# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint
# Define the checkpoint path and filenames
os.makedirs("weights/",exist_ok=True)
weights_path = "weights/weights.{epoch:08d}.h5"

cp_callback = ModelCheckpoint(
    filepath=weights_path, 
    verbose=1, 
    save_weights_only=True,
    save_freq='epoch')

In [175]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 869us/step - loss: 0.4937 - accuracy: 0.7717

Epoch 00001: saving model to weights\weights.00000001.h5, period=5
Epoch 2/100
804/804 [==============================] - 1s 857us/step - loss: 0.4410 - accuracy: 0.7952

Epoch 00002: saving model to weights\weights.00000002.h5, period=5
Epoch 3/100
804/804 [==============================] - 1s 832us/step - loss: 0.4314 - accuracy: 0.7967

Epoch 00003: saving model to weights\weights.00000003.h5, period=5
Epoch 4/100
804/804 [==============================] - 1s 832us/step - loss: 0.4264 - accuracy: 0.7985

Epoch 00004: saving model to weights\weights.00000004.h5, period=5
Epoch 5/100
804/804 [==============================] - 1s 824us/step - loss: 0.4236 - accuracy: 0.7984

Epoch 00005: saving model to weights\weights.00000005.h5, period=5
Epoch 6/100
804/804 [==============================] - 1s 827us/step - loss: 0.4216 - accuracy: 0.8007

Epoch 00006: saving model to weights\weights.00000006.h5, period=5
Epoch 7/100
804/804 [==============================] - 1s 827us/step - loss: 0.4203 - accuracy: 0.8001

Epoch 00007: saving model to weights\weights.00000007.h5, period=5
Epoch 8/100
804/804 [==============================] - 1s 843us/step - loss: 0.4186 - accuracy: 0.7995

Epoch 00008: saving model to weights\weights.00000008.h5, period=5
Epoch 9/100
804/804 [==============================] - 1s 840us/step - loss: 0.4173 - accuracy: 0.8016

Epoch 00009: saving model to weights\weights.00000009.h5, period=5
Epoch 10/100
804/804 [==============================] - 1s 848us/step - loss: 0.4163 - accuracy: 0.8010

Epoch 00010: saving model to weights\weights.00000010.h5, period=5
Epoch 11/100
804/804 [==============================] - 1s 833us/step - loss: 0.4156 - accuracy: 0.8024

Epoch 00011: saving model to weights\weights.00000011.h5, period=5
Epoch 12/100
804/804 [==============================] - 1s 737us/step - loss: 0.4151 - accuracy: 0.8015

Epoch 00012: saving model to weights\weights.00000012.h5, period=5
Epoch 13/100
804/804 [==============================] - 1s 840us/step - loss: 0.4142 - accuracy: 0.8025

Epoch 00013: saving model to weights\weights.00000013.h5, period=5
Epoch 14/100
804/804 [==============================] - 1s 849us/step - loss: 0.4133 - accuracy: 0.8026

Epoch 00014: saving model to weights\weights.00000014.h5, period=5
Epoch 15/100
804/804 [==============================] - 1s 858us/step - loss: 0.4128 - accuracy: 0.8026

Epoch 00015: saving model to weights\weights.00000015.h5, period=5
Epoch 16/100
804/804 [==============================] - 1s 844us/step - loss: 0.4123 - accuracy: 0.8037

Epoch 00016: saving model to weights\weights.00000016.h5, period=5
Epoch 17/100
804/804 [==============================] - 1s 860us/step - loss: 0.4115 - accuracy: 0.8029

Epoch 00017: saving model to weights\weights.00000017.h5, period=5
Epoch 18/100
804/804 [==============================] - 1s 849us/step - loss: 0.4107 - accuracy: 0.8048

Epoch 00018: saving model to weights\weights.00000018.h5, period=5
Epoch 19/100
804/804 [==============================] - 1s 863us/step - loss: 0.4102 - accuracy: 0.8043

Epoch 00019: saving model to weights\weights.00000019.h5, period=5
Epoch 20/100
804/804 [==============================] - 1s 862us/step - loss: 0.4103 - accuracy: 0.8036

Epoch 00020: saving model to weights\weights.00000020.h5, period=5
Epoch 21/100
804/804 [==============================] - 1s 864us/step - loss: 0.4101 - accuracy: 0.8055

Epoch 00021: saving model to weights\weights.00000021.h5, period=5
Epoch 22/100
804/804 [==============================] - 1s 784us/step - loss: 0.4091 - accuracy: 0.8055

Epoch 00022: saving model to weights\weights.00000022.h5, period=5
Epoch 23/100
804/804 [==============================] - 1s 848us/step - loss: 0.4088 - accuracy: 0.8054

Epoch 00023: saving model to weights\weights.00000023.h5, period=5
Epoch 24/100
804/804 [==============================] - 1s 839us/step - loss: 0.4082 - accuracy: 0.8058

Epoch 00024: saving model to weights\weights.00000024.h5, period=5
Epoch 25/100
804/804 [==============================] - 1s 843us/step - loss: 0.4079 - accuracy: 0.8055

Epoch 00025: saving model to weights\weights.00000025.h5, period=5
Epoch 26/100
804/804 [==============================] - 1s 842us/step - loss: 0.4073 - accuracy: 0.8064

Epoch 00026: saving model to weights\weights.00000026.h5, period=5
Epoch 27/100
804/804 [==============================] - 1s 833us/step - loss: 0.4068 - accuracy: 0.8061

Epoch 00027: saving model to weights\weights.00000027.h5, period=5
Epoch 28/100
804/804 [==============================] - 1s 854us/step - loss: 0.4066 - accuracy: 0.8061

Epoch 00028: saving model to weights\weights.00000028.h5, period=5
Epoch 29/100
804/804 [==============================] - 1s 846us/step - loss: 0.4063 - accuracy: 0.8058

Epoch 00029: saving model to weights\weights.00000029.h5, period=5
Epoch 30/100
804/804 [==============================] - 1s 809us/step - loss: 0.4057 - accuracy: 0.8075

Epoch 00030: saving model to weights\weights.00000030.h5, period=5
Epoch 31/100
804/804 [==============================] - 1s 852us/step - loss: 0.4055 - accuracy: 0.8061

Epoch 00031: saving model to weights\weights.00000031.h5, period=5
Epoch 32/100
804/804 [==============================] - 1s 846us/step - loss: 0.4050 - accuracy: 0.8082

Epoch 00032: saving model to weights\weights.00000032.h5, period=5
Epoch 33/100
804/804 [==============================] - 1s 838us/step - loss: 0.4050 - accuracy: 0.8063

Epoch 00033: saving model to weights\weights.00000033.h5, period=5
Epoch 34/100
804/804 [==============================] - 1s 834us/step - loss: 0.4045 - accuracy: 0.8077

Epoch 00034: saving model to weights\weights.00000034.h5, period=5
Epoch 35/100
804/804 [==============================] - 1s 860us/step - loss: 0.4045 - accuracy: 0.8073

Epoch 00035: saving model to weights\weights.00000035.h5, period=5
Epoch 36/100
804/804 [==============================] - 1s 809us/step - loss: 0.4051 - accuracy: 0.8069

Epoch 00036: saving model to weights\weights.00000036.h5, period=5
Epoch 37/100
804/804 [==============================] - 1s 880us/step - loss: 0.4039 - accuracy: 0.8078

Epoch 00037: saving model to weights\weights.00000037.h5, period=5
Epoch 38/100
804/804 [==============================] - 1s 828us/step - loss: 0.4043 - accuracy: 0.8077

Epoch 00038: saving model to weights\weights.00000038.h5, period=5
Epoch 39/100
804/804 [==============================] - 1s 854us/step - loss: 0.4036 - accuracy: 0.8084

Epoch 00039: saving model to weights\weights.00000039.h5, period=5
Epoch 40/100
804/804 [==============================] - 1s 849us/step - loss: 0.4029 - accuracy: 0.8085

Epoch 00040: saving model to weights\weights.00000040.h5, period=5
Epoch 41/100
804/804 [==============================] - 1s 853us/step - loss: 0.4030 - accuracy: 0.8082

Epoch 00041: saving model to weights\weights.00000041.h5, period=5
Epoch 42/100
804/804 [==============================] - 1s 863us/step - loss: 0.4027 - accuracy: 0.8088

Epoch 00042: saving model to weights\weights.00000042.h5, period=5
Epoch 43/100
804/804 [==============================] - 1s 861us/step - loss: 0.4029 - accuracy: 0.8083

Epoch 00043: saving model to weights\weights.00000043.h5, period=5
Epoch 44/100
804/804 [==============================] - 1s 873us/step - loss: 0.4024 - accuracy: 0.8086

Epoch 00044: saving model to weights\weights.00000044.h5, period=5
Epoch 45/100
804/804 [==============================] - 1s 864us/step - loss: 0.4027 - accuracy: 0.8081

Epoch 00045: saving model to weights\weights.00000045.h5, period=5
Epoch 46/100
804/804 [==============================] - 1s 886us/step - loss: 0.4025 - accuracy: 0.8087

Epoch 00046: saving model to weights\weights.00000046.h5, period=5
Epoch 47/100
804/804 [==============================] - 1s 789us/step - loss: 0.4020 - accuracy: 0.8089

Epoch 00047: saving model to weights\weights.00000047.h5, period=5
Epoch 48/100
804/804 [==============================] - 1s 855us/step - loss: 0.4021 - accuracy: 0.8096

Epoch 00048: saving model to weights\weights.00000048.h5, period=5
Epoch 49/100
804/804 [==============================] - 1s 862us/step - loss: 0.4013 - accuracy: 0.8093

Epoch 00049: saving model to weights\weights.00000049.h5, period=5
Epoch 50/100
804/804 [==============================] - 1s 860us/step - loss: 0.4016 - accuracy: 0.8087

Epoch 00050: saving model to weights\weights.00000050.h5, period=5
Epoch 51/100
804/804 [==============================] - 1s 862us/step - loss: 0.4013 - accuracy: 0.8093

Epoch 00051: saving model to weights\weights.00000051.h5, period=5
Epoch 52/100
804/804 [==============================] - 1s 861us/step - loss: 0.4012 - accuracy: 0.8094

Epoch 00052: saving model to weights\weights.00000052.h5, period=5
Epoch 53/100
804/804 [==============================] - 1s 863us/step - loss: 0.4011 - accuracy: 0.8094

Epoch 00053: saving model to weights\weights.00000053.h5, period=5
Epoch 54/100
804/804 [==============================] - 1s 850us/step - loss: 0.4013 - accuracy: 0.8096

Epoch 00054: saving model to weights\weights.00000054.h5, period=5
Epoch 55/100
804/804 [==============================] - 1s 868us/step - loss: 0.4010 - accuracy: 0.8092

Epoch 00055: saving model to weights\weights.00000055.h5, period=5
Epoch 56/100
804/804 [==============================] - 1s 873us/step - loss: 0.4003 - accuracy: 0.8093

Epoch 00056: saving model to weights\weights.00000056.h5, period=5
Epoch 57/100
804/804 [==============================] - 1s 824us/step - loss: 0.4007 - accuracy: 0.8098

Epoch 00057: saving model to weights\weights.00000057.h5, period=5
Epoch 58/100
804/804 [==============================] - 1s 855us/step - loss: 0.4005 - accuracy: 0.8098

Epoch 00058: saving model to weights\weights.00000058.h5, period=5
Epoch 59/100
804/804 [==============================] - 1s 868us/step - loss: 0.3998 - accuracy: 0.8099

Epoch 00059: saving model to weights\weights.00000059.h5, period=5
Epoch 60/100
804/804 [==============================] - 1s 845us/step - loss: 0.4001 - accuracy: 0.8098

Epoch 00060: saving model to weights\weights.00000060.h5, period=5
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4001 - accuracy: 0.8088

Epoch 00061: saving model to weights\weights.00000061.h5, period=5
Epoch 62/100
804/804 [==============================] - 1s 836us/step - loss: 0.3998 - accuracy: 0.8096

Epoch 00062: saving model to weights\weights.00000062.h5, period=5
Epoch 63/100
804/804 [==============================] - 1s 847us/step - loss: 0.3997 - accuracy: 0.8104

Epoch 00063: saving model to weights\weights.00000063.h5, period=5
Epoch 64/100
804/804 [==============================] - 1s 854us/step - loss: 0.3996 - accuracy: 0.8100

Epoch 00064: saving model to weights\weights.00000064.h5, period=5
Epoch 65/100
804/804 [==============================] - 1s 887us/step - loss: 0.3998 - accuracy: 0.8098

Epoch 00065: saving model to weights\weights.00000065.h5, period=5
Epoch 66/100
804/804 [==============================] - 1s 803us/step - loss: 0.4002 - accuracy: 0.8094

Epoch 00066: saving model to weights\weights.00000066.h5, period=5
Epoch 67/100
804/804 [==============================] - 1s 855us/step - loss: 0.3992 - accuracy: 0.8100

Epoch 00067: saving model to weights\weights.00000067.h5, period=5
Epoch 68/100
804/804 [==============================] - 1s 858us/step - loss: 0.3992 - accuracy: 0.8102

Epoch 00068: saving model to weights\weights.00000068.h5, period=5
Epoch 69/100
804/804 [==============================] - 1s 851us/step - loss: 0.3992 - accuracy: 0.8103

Epoch 00069: saving model to weights\weights.00000069.h5, period=5
Epoch 70/100
804/804 [==============================] - 1s 889us/step - loss: 0.3992 - accuracy: 0.8103

Epoch 00070: saving model to weights\weights.00000070.h5, period=5
Epoch 71/100
804/804 [==============================] - 1s 864us/step - loss: 0.3991 - accuracy: 0.8104

Epoch 00071: saving model to weights\weights.00000071.h5, period=5
Epoch 72/100
804/804 [==============================] - 1s 837us/step - loss: 0.3985 - accuracy: 0.8101

Epoch 00072: saving model to weights\weights.00000072.h5, period=5
Epoch 73/100
804/804 [==============================] - 1s 805us/step - loss: 0.3986 - accuracy: 0.8098

Epoch 00073: saving model to weights\weights.00000073.h5, period=5
Epoch 74/100
804/804 [==============================] - 1s 864us/step - loss: 0.3986 - accuracy: 0.8102

Epoch 00074: saving model to weights\weights.00000074.h5, period=5
Epoch 75/100
804/804 [==============================] - 1s 859us/step - loss: 0.3993 - accuracy: 0.8097

Epoch 00075: saving model to weights\weights.00000075.h5, period=5
Epoch 76/100
804/804 [==============================] - 1s 839us/step - loss: 0.3987 - accuracy: 0.8104

Epoch 00076: saving model to weights\weights.00000076.h5, period=5
Epoch 77/100
804/804 [==============================] - 1s 838us/step - loss: 0.3988 - accuracy: 0.8106

Epoch 00077: saving model to weights\weights.00000077.h5, period=5
Epoch 78/100
804/804 [==============================] - 1s 851us/step - loss: 0.3984 - accuracy: 0.8106

Epoch 00078: saving model to weights\weights.00000078.h5, period=5
Epoch 79/100
804/804 [==============================] - 1s 870us/step - loss: 0.3982 - accuracy: 0.8100

Epoch 00079: saving model to weights\weights.00000079.h5, period=5
Epoch 80/100
804/804 [==============================] - 1s 863us/step - loss: 0.3981 - accuracy: 0.8102

Epoch 00080: saving model to weights\weights.00000080.h5, period=5
Epoch 81/100
804/804 [==============================] - 1s 867us/step - loss: 0.3976 - accuracy: 0.8100

Epoch 00081: saving model to weights\weights.00000081.h5, period=5
Epoch 82/100
804/804 [==============================] - 1s 846us/step - loss: 0.3978 - accuracy: 0.8104

Epoch 00082: saving model to weights\weights.00000082.h5, period=5
Epoch 83/100
804/804 [==============================] - 1s 843us/step - loss: 0.3977 - accuracy: 0.8104

Epoch 00083: saving model to weights\weights.00000083.h5, period=5
Epoch 84/100
804/804 [==============================] - 1s 857us/step - loss: 0.3976 - accuracy: 0.8103

Epoch 00084: saving model to weights\weights.00000084.h5, period=5
Epoch 85/100
804/804 [==============================] - 1s 835us/step - loss: 0.3983 - accuracy: 0.8105

Epoch 00085: saving model to weights\weights.00000085.h5, period=5
Epoch 86/100
804/804 [==============================] - 1s 762us/step - loss: 0.3978 - accuracy: 0.8104

Epoch 00086: saving model to weights\weights.00000086.h5, period=5
Epoch 87/100
804/804 [==============================] - 1s 850us/step - loss: 0.3978 - accuracy: 0.8110

Epoch 00087: saving model to weights\weights.00000087.h5, period=5
Epoch 88/100
804/804 [==============================] - 1s 866us/step - loss: 0.3976 - accuracy: 0.8107

Epoch 00088: saving model to weights\weights.00000088.h5, period=5
Epoch 89/100
804/804 [==============================] - 1s 845us/step - loss: 0.3980 - accuracy: 0.8104

Epoch 00089: saving model to weights\weights.00000089.h5, period=5
Epoch 90/100
804/804 [==============================] - 1s 868us/step - loss: 0.3976 - accuracy: 0.8109

Epoch 00090: saving model to weights\weights.00000090.h5, period=5
Epoch 91/100
804/804 [==============================] - 1s 835us/step - loss: 0.3980 - accuracy: 0.8103

Epoch 00091: saving model to weights\weights.00000091.h5, period=5
Epoch 92/100
804/804 [==============================] - 1s 855us/step - loss: 0.3976 - accuracy: 0.8106

Epoch 00092: saving model to weights\weights.00000092.h5, period=5
Epoch 93/100
804/804 [==============================] - 1s 850us/step - loss: 0.3973 - accuracy: 0.8114

Epoch 00093: saving model to weights\weights.00000093.h5, period=5
Epoch 94/100
804/804 [==============================] - 1s 842us/step - loss: 0.3976 - accuracy: 0.8103

Epoch 00094: saving model to weights\weights.00000094.h5, period=5
Epoch 95/100
804/804 [==============================] - 1s 844us/step - loss: 0.3979 - accuracy: 0.8104

Epoch 00095: saving model to weights\weights.00000095.h5, period=5
Epoch 96/100
804/804 [==============================] - 1s 804us/step - loss: 0.3978 - accuracy: 0.8103

Epoch 00096: saving model to weights\weights.00000096.h5, period=5
Epoch 97/100
804/804 [==============================] - 1s 840us/step - loss: 0.3975 - accuracy: 0.8109

Epoch 00097: saving model to weights\weights.00000097.h5, period=5
Epoch 98/100
804/804 [==============================] - 1s 838us/step - loss: 0.3974 - accuracy: 0.8102

Epoch 00098: saving model to weights\weights.00000098.h5, period=5
Epoch 99/100
804/804 [==============================] - 1s 844us/step - loss: 0.3971 - accuracy: 0.8107

Epoch 00099: saving model to weights\weights.00000099.h5, period=5
Epoch 100/100
804/804 [==============================] - 1s 849us/step - loss: 0.3975 - accuracy: 0.8097

Epoch 00100: saving model to weights\weights.00000100.h5, period=5

In [176]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4477 - accuracy: 0.7915
Loss: 0.44773539900779724, Accuracy: 0.7914868593215942

In [177]:
# Export our model to HDF5 file
nn.save("HDf5_file/AlphabetSoupCharity.h5")