## Preprocessing

In [1]:
#T.Bradford
# October 2021

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"],1)

application_df = application_df.drop(["NAME"],1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.

application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

#  everything under the 500 classified as other 
application_types_to_replace = list(application_counts[application_counts < 500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C1245        1
C4200        1
C2380        1
C1370        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#class_counts[class_counts >= 15]
class_counts[class_counts >= 10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

#  everything under the 500 classified as other
classifications_replace = list(class_counts[class_counts < 500].index)
# Replace in dataframe
for cls in classifications_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = application_df.drop(["STATUS"],1)
#application_df = application_df.drop(["ASK_AMT"],1)
y = application_df["IS_SUCCESSFUL"]

# One-hot encoding data
X2 = application_df.drop(["IS_SUCCESSFUL"], axis='columns')
X = pd.get_dummies(X2)
X

,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,5000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,5000,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,5000,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,36500179,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
#merge encoded data with application data
application_df = application_df.merge(X,left_index=True, right_index=True)

#application_df = application_df.drop(application_cat)
print(application_df.info())

application_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 52 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   APPLICATION_TYPE              34299 non-null  object
 1   AFFILIATION                   34299 non-null  object
 2   CLASSIFICATION                34299 non-null  object
 3   USE_CASE                      34299 non-null  object
 4   ORGANIZATION                  34299 non-null  object
 5   INCOME_AMT                    34299 non-null  object
 6   SPECIAL_CONSIDERATIONS        34299 non-null  object
 7   ASK_AMT_x                     34299 non-null  int64
 8   IS_SUCCESSFUL                 34299 non-null  int64
 9   ASK_AMT_y                     34299 non-null  int64
 10  APPLICATION_TYPE_Other        34299 non-null  uint8
 11  APPLICATION_TYPE_T10          34299 non-null  uint8
 12  APPLICATION_TYPE_T19          34299 non-null  uint8
 13  APPLICATION_TYPE_T3           34299 non-null  uint8
 14  APPLICATION_TYPE_T4           34299 non-null  uint8
 15  APPLICATION_TYPE_T5           34299 non-null  uint8
 16  APPLICATION_TYPE_T6           34299 non-null  uint8
 17  APPLICATION_TYPE_T7           34299 non-null  uint8
 18  APPLICATION_TYPE_T8           34299 non-null  uint8
 19  AFFILIATION_CompanySponsored  34299 non-null  uint8
 20  AFFILIATION_Family/Parent     34299 non-null  uint8
 21  AFFILIATION_Independent       34299 non-null  uint8
 22  AFFILIATION_National          34299 non-null  uint8
 23  AFFILIATION_Other             34299 non-null  uint8
 24  AFFILIATION_Regional          34299 non-null  uint8
 25  CLASSIFICATION_C1000          34299 non-null  uint8
 26  CLASSIFICATION_C1200          34299 non-null  uint8
 27  CLASSIFICATION_C2000          34299 non-null  uint8
 28  CLASSIFICATION_C2100          34299 non-null  uint8
 29  CLASSIFICATION_C3000          34299 non-null  uint8
 30  CLASSIFICATION_C7000          34299 non-null  uint8
 31  CLASSIFICATION_Other          34299 non-null  uint8
 32  USE_CASE_CommunityServ        34299 non-null  uint8
 33  USE_CASE_Heathcare            34299 non-null  uint8
 34  USE_CASE_Other                34299 non-null  uint8
 35  USE_CASE_Preservation         34299 non-null  uint8
 36  USE_CASE_ProductDev           34299 non-null  uint8
 37  ORGANIZATION_Association      34299 non-null  uint8
 38  ORGANIZATION_Co-operative     34299 non-null  uint8
 39  ORGANIZATION_Corporation      34299 non-null  uint8
 40  ORGANIZATION_Trust            34299 non-null  uint8
 41  INCOME_AMT_0                  34299 non-null  uint8
 42  INCOME_AMT_1-9999             34299 non-null  uint8
 43  INCOME_AMT_10000-24999        34299 non-null  uint8
 44  INCOME_AMT_100000-499999      34299 non-null  uint8
 45  INCOME_AMT_10M-50M            34299 non-null  uint8
 46  INCOME_AMT_1M-5M              34299 non-null  uint8
 47  INCOME_AMT_25000-99999        34299 non-null  uint8
 48  INCOME_AMT_50M+               34299 non-null  uint8
 49  INCOME_AMT_5M-10M             34299 non-null  uint8
 50  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 51  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: int64(3), object(7), uint8(42)
memory usage: 4.0+ MB
None

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT_x,IS_SUCCESSFUL,ASK_AMT_y,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1,5000,...,0,0,0,0,0,0,0,0,1,0
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1,108590,...,1,0,0,0,0,0,0,0,1,0
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0,5000,...,0,0,0,0,0,0,0,0,1,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1,6692,...,0,1,0,0,0,0,0,0,1,0
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1,142590,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# find obect data types
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
print(application_cat)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [12]:
#drop obect data types from dataframe 
application_df = application_df.drop(["APPLICATION_TYPE"],1)
application_df = application_df.drop(["AFFILIATION"],1)
application_df = application_df.drop(["CLASSIFICATION"],1)
application_df = application_df.drop(["USE_CASE"],1)
application_df = application_df.drop(["ORGANIZATION"],1)
application_df = application_df.drop(["INCOME_AMT"],1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"],1)
application_df.head()

,ASK_AMT_x,IS_SUCCESSFUL,ASK_AMT_y,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,108590,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,5000,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,6692,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,142590,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
#drop ASK_AMT_y extra from get_dummies
application_df = application_df.drop(["ASK_AMT_y"],1)

#rename ASK_AMT_x renamed when used get_dummies
application_df.rename(columns={'ASK_AMT_x': 'ASK_AMT'}, inplace=True)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
#convert string to numberic was getting  ValueError: could not convert string to float:

# X1 = application_df.drop(["STATUS"],1)
#X = application_df.apply(pd.to_numeric, errors='coerce')
#1 = application_df.apply(pd.to_numeric, errors='coerce')


#drop categorical data and separate target
X = application_df.drop(["IS_SUCCESSFUL"], axis='columns').values

y = application_df["IS_SUCCESSFUL"].values


#Dropping 
print(application_df)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=43)

        ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
0          5000              1                       0                     1
1        108590              1                       0                     0
2          5000              0                       0                     0
3          6692              1                       0                     0
4        142590              1                       0                     0
...         ...            ...                     ...                   ...
34294      5000              0                       0                     0
34295      5000              0                       0                     0
34296      5000              0                       0                     0
34297      5000              1                       0                     0
34298  36500179              0                       0                     0

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                         0                    0                    0
1                         0                    1                    0
2                         0                    0                    0
3                         0                    1                    0
4                         0                    1                    0
...                     ...                  ...                  ...
34294                     0                    0                    1
34295                     0                    0                    1
34296                     0                    1                    0
34297                     0                    0                    0
34298                     0                    1                    0

       APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
0                        0                    0                    0  ...
1                        0                    0                    0  ...
2                        1                    0                    0  ...
3                        0                    0                    0  ...
4                        0                    0                    0  ...
...                    ...                  ...                  ...  ...
34294                    0                    0                    0  ...
34295                    0                    0                    0  ...
34296                    0                    0                    0  ...
34297                    1                    0                    0  ...
34298                    0                    0                    0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                      0                       0                         0
1                      1                       0                         0
2                      0                       0                         0
3                      0                       1                         0
4                      0                       0                         1
...                  ...                     ...                       ...
34294                  0                       0                         0
34295                  0                       0                         0
34296                  0                       0                         0
34297                  0                       0                         0
34298                  0                       0                         0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                       0                 0                       0
1                       0                 0                       0
2                       0                 0                       0
3                       0                 0                       0
4                       0                 0                       0
...                   ...               ...                     ...
34294                   0                 0                       0
34295                   0                 0                       0
34296                   0                 0                       0
34297                   0                 0                       0
34298                   0                 1                       0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                    0                  0                         1
1                    0                  0                         1
2                    0                  0                         1
3                    0                  0                         1
4                    0                  0                         1
...                ...                ...                       ...
34294                0                  0                         1
34295                0                  0                         1
34296                0                  0                         1
34297                0                  0                         1
34298                0                  0                         1

       SPECIAL_CONSIDERATIONS_Y
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
34294                         0
34295                         0
34296                         0
34297                         0
34298                         0

[34299 rows x 44 columns]

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.layers import Dense

number_input_features = len(X_train[0])
print(number_input_features)
#hidden_nodes_layer1 =  200
hidden_nodes_layer1 =  100
#hidden_nodes_layer2 = 100
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='sigmoid'))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# ADD third Layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

43
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               4400
_________________________________________________________________
dense_1 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_2 (Dense)              (None, 10)                510
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 9,971
Trainable params: 9,971
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("weights/",exist_ok=True)
weights_path = "weights/weights.{epoch:08d}.h5"

 #Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=weights_path, 
    verbose=1, 
    save_weights_only=True,
    period=5,
    save_freq='epoch')

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [19]:
# Train the model
#fit_model = nn.fit(X_train_scaled,y_train,epochs=250, callbacks=[cp_callback])
#fit_model = nn.fit(X_train_scaled,y_train,epochs=50, callbacks=[cp_callback])
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 825us/step - loss: 0.5834 - accuracy: 0.7154
Epoch 2/100
804/804 [==============================] - 1s 811us/step - loss: 0.5604 - accuracy: 0.7264
Epoch 3/100
804/804 [==============================] - 1s 795us/step - loss: 0.5560 - accuracy: 0.7275
Epoch 4/100
804/804 [==============================] - 1s 813us/step - loss: 0.5540 - accuracy: 0.7269
Epoch 5/100
804/804 [==============================] - 1s 789us/step - loss: 0.5528 - accuracy: 0.7284

Epoch 00005: saving model to weights\weights.00000005.h5
Epoch 6/100
804/804 [==============================] - 1s 803us/step - loss: 0.5513 - accuracy: 0.7295
Epoch 7/100
804/804 [==============================] - 1s 813us/step - loss: 0.5500 - accuracy: 0.7298
Epoch 8/100
804/804 [==============================] - 1s 805us/step - loss: 0.5487 - accuracy: 0.7310
Epoch 9/100
804/804 [==============================] - 1s 803us/step - loss: 0.5489 - accuracy: 0.7313
Epoch 10/100
804/804 [==============================] - 1s 803us/step - loss: 0.5475 - accuracy: 0.7311

Epoch 00010: saving model to weights\weights.00000010.h5
Epoch 11/100
804/804 [==============================] - 1s 809us/step - loss: 0.5470 - accuracy: 0.7309
Epoch 12/100
804/804 [==============================] - 1s 801us/step - loss: 0.5460 - accuracy: 0.7321
Epoch 13/100
804/804 [==============================] - 1s 747us/step - loss: 0.5457 - accuracy: 0.7320
Epoch 14/100
804/804 [==============================] - 1s 720us/step - loss: 0.5453 - accuracy: 0.7327
Epoch 15/100
804/804 [==============================] - 1s 671us/step - loss: 0.5447 - accuracy: 0.7320

Epoch 00015: saving model to weights\weights.00000015.h5
Epoch 16/100
804/804 [==============================] - 1s 845us/step - loss: 0.5447 - accuracy: 0.7331
Epoch 17/100
804/804 [==============================] - 1s 691us/step - loss: 0.5440 - accuracy: 0.7325
Epoch 18/100
804/804 [==============================] - 1s 709us/step - loss: 0.5437 - accuracy: 0.7329
Epoch 19/100
804/804 [==============================] - 1s 673us/step - loss: 0.5435 - accuracy: 0.7329
Epoch 20/100
804/804 [==============================] - 1s 673us/step - loss: 0.5435 - accuracy: 0.7323

Epoch 00020: saving model to weights\weights.00000020.h5
Epoch 21/100
804/804 [==============================] - 1s 693us/step - loss: 0.5429 - accuracy: 0.7329
Epoch 22/100
804/804 [==============================] - 1s 678us/step - loss: 0.5421 - accuracy: 0.7345
Epoch 23/100
804/804 [==============================] - 1s 688us/step - loss: 0.5423 - accuracy: 0.7338
Epoch 24/100
804/804 [==============================] - 1s 730us/step - loss: 0.5423 - accuracy: 0.7335
Epoch 25/100
804/804 [==============================] - 1s 710us/step - loss: 0.5414 - accuracy: 0.7353

Epoch 00025: saving model to weights\weights.00000025.h5
Epoch 26/100
804/804 [==============================] - 1s 722us/step - loss: 0.5415 - accuracy: 0.7340
Epoch 27/100
804/804 [==============================] - 1s 732us/step - loss: 0.5412 - accuracy: 0.7338
Epoch 28/100
804/804 [==============================] - 1s 748us/step - loss: 0.5407 - accuracy: 0.7342
Epoch 29/100
804/804 [==============================] - 1s 712us/step - loss: 0.5408 - accuracy: 0.7345
Epoch 30/100
804/804 [==============================] - 1s 730us/step - loss: 0.5405 - accuracy: 0.7351

Epoch 00030: saving model to weights\weights.00000030.h5
Epoch 31/100
804/804 [==============================] - 1s 734us/step - loss: 0.5399 - accuracy: 0.7348
Epoch 32/100
804/804 [==============================] - 1s 733us/step - loss: 0.5398 - accuracy: 0.7359
Epoch 33/100
804/804 [==============================] - 1s 723us/step - loss: 0.5396 - accuracy: 0.7359
Epoch 34/100
804/804 [==============================] - 1s 699us/step - loss: 0.5395 - accuracy: 0.7353
Epoch 35/100
804/804 [==============================] - 1s 727us/step - loss: 0.5393 - accuracy: 0.7357

Epoch 00035: saving model to weights\weights.00000035.h5
Epoch 36/100
804/804 [==============================] - 1s 743us/step - loss: 0.5392 - accuracy: 0.7362
Epoch 37/100
804/804 [==============================] - 1s 715us/step - loss: 0.5390 - accuracy: 0.7358
Epoch 38/100
804/804 [==============================] - 1s 719us/step - loss: 0.5388 - accuracy: 0.7356
Epoch 39/100
804/804 [==============================] - 1s 729us/step - loss: 0.5383 - accuracy: 0.7360
Epoch 40/100
804/804 [==============================] - 1s 732us/step - loss: 0.5382 - accuracy: 0.7360

Epoch 00040: saving model to weights\weights.00000040.h5
Epoch 41/100
804/804 [==============================] - 1s 725us/step - loss: 0.5382 - accuracy: 0.7362
Epoch 42/100
804/804 [==============================] - 1s 702us/step - loss: 0.5378 - accuracy: 0.7360
Epoch 43/100
804/804 [==============================] - 1s 729us/step - loss: 0.5379 - accuracy: 0.7358
Epoch 44/100
804/804 [==============================] - 1s 732us/step - loss: 0.5377 - accuracy: 0.7366
Epoch 45/100
804/804 [==============================] - 1s 735us/step - loss: 0.5373 - accuracy: 0.7358

Epoch 00045: saving model to weights\weights.00000045.h5
Epoch 46/100
804/804 [==============================] - 1s 765us/step - loss: 0.5370 - accuracy: 0.7365
Epoch 47/100
804/804 [==============================] - 1s 736us/step - loss: 0.5369 - accuracy: 0.7366
Epoch 48/100
804/804 [==============================] - 1s 745us/step - loss: 0.5368 - accuracy: 0.7361
Epoch 49/100
804/804 [==============================] - 1s 738us/step - loss: 0.5369 - accuracy: 0.7360
Epoch 50/100
804/804 [==============================] - 1s 725us/step - loss: 0.5368 - accuracy: 0.7372

Epoch 00050: saving model to weights\weights.00000050.h5
Epoch 51/100
804/804 [==============================] - 1s 724us/step - loss: 0.5365 - accuracy: 0.7364
Epoch 52/100
804/804 [==============================] - 1s 743us/step - loss: 0.5363 - accuracy: 0.7355
Epoch 53/100
804/804 [==============================] - 1s 708us/step - loss: 0.5363 - accuracy: 0.7368
Epoch 54/100
804/804 [==============================] - 1s 739us/step - loss: 0.5362 - accuracy: 0.7360
Epoch 55/100
804/804 [==============================] - 1s 725us/step - loss: 0.5360 - accuracy: 0.7367

Epoch 00055: saving model to weights\weights.00000055.h5
Epoch 56/100
804/804 [==============================] - 1s 731us/step - loss: 0.5358 - accuracy: 0.7369
Epoch 57/100
804/804 [==============================] - 1s 701us/step - loss: 0.5356 - accuracy: 0.7376
Epoch 58/100
804/804 [==============================] - 1s 694us/step - loss: 0.5357 - accuracy: 0.7375
Epoch 59/100
804/804 [==============================] - 1s 725us/step - loss: 0.5355 - accuracy: 0.7381
Epoch 60/100
804/804 [==============================] - 1s 720us/step - loss: 0.5357 - accuracy: 0.7372

Epoch 00060: saving model to weights\weights.00000060.h5
Epoch 61/100
804/804 [==============================] - 1s 748us/step - loss: 0.5355 - accuracy: 0.7362
Epoch 62/100
804/804 [==============================] - 1s 723us/step - loss: 0.5354 - accuracy: 0.7376
Epoch 63/100
804/804 [==============================] - 1s 717us/step - loss: 0.5349 - accuracy: 0.7381
Epoch 64/100
804/804 [==============================] - 1s 701us/step - loss: 0.5352 - accuracy: 0.7375
Epoch 65/100
804/804 [==============================] - 1s 726us/step - loss: 0.5346 - accuracy: 0.7376

Epoch 00065: saving model to weights\weights.00000065.h5
Epoch 66/100
804/804 [==============================] - 1s 733us/step - loss: 0.5349 - accuracy: 0.7380
Epoch 67/100
804/804 [==============================] - 1s 724us/step - loss: 0.5348 - accuracy: 0.7373
Epoch 68/100
804/804 [==============================] - 1s 715us/step - loss: 0.5345 - accuracy: 0.7378
Epoch 69/100
804/804 [==============================] - 1s 740us/step - loss: 0.5343 - accuracy: 0.7379
Epoch 70/100
804/804 [==============================] - 1s 730us/step - loss: 0.5344 - accuracy: 0.7375

Epoch 00070: saving model to weights\weights.00000070.h5
Epoch 71/100
804/804 [==============================] - 1s 742us/step - loss: 0.5344 - accuracy: 0.7382
Epoch 72/100
804/804 [==============================] - 1s 727us/step - loss: 0.5346 - accuracy: 0.7382
Epoch 73/100
804/804 [==============================] - 1s 753us/step - loss: 0.5342 - accuracy: 0.7376
Epoch 74/100
804/804 [==============================] - 1s 692us/step - loss: 0.5339 - accuracy: 0.7378
Epoch 75/100
804/804 [==============================] - 1s 729us/step - loss: 0.5340 - accuracy: 0.7381

Epoch 00075: saving model to weights\weights.00000075.h5
Epoch 76/100
804/804 [==============================] - 1s 794us/step - loss: 0.5341 - accuracy: 0.7383
Epoch 77/100
804/804 [==============================] - 1s 681us/step - loss: 0.5343 - accuracy: 0.7383
Epoch 78/100
804/804 [==============================] - 1s 702us/step - loss: 0.5339 - accuracy: 0.7381
Epoch 79/100
804/804 [==============================] - 1s 715us/step - loss: 0.5340 - accuracy: 0.7376
Epoch 80/100
804/804 [==============================] - 1s 679us/step - loss: 0.5336 - accuracy: 0.7382

Epoch 00080: saving model to weights\weights.00000080.h5
Epoch 81/100
804/804 [==============================] - 1s 682us/step - loss: 0.5336 - accuracy: 0.7379
Epoch 82/100
804/804 [==============================] - 1s 696us/step - loss: 0.5337 - accuracy: 0.7378
Epoch 83/100
804/804 [==============================] - 1s 679us/step - loss: 0.5336 - accuracy: 0.7380
Epoch 84/100
804/804 [==============================] - 1s 708us/step - loss: 0.5336 - accuracy: 0.7380
Epoch 85/100
804/804 [==============================] - 1s 696us/step - loss: 0.5336 - accuracy: 0.7383

Epoch 00085: saving model to weights\weights.00000085.h5
Epoch 86/100
804/804 [==============================] - 1s 707us/step - loss: 0.5332 - accuracy: 0.7382
Epoch 87/100
804/804 [==============================] - 1s 724us/step - loss: 0.5333 - accuracy: 0.7378
Epoch 88/100
804/804 [==============================] - 1s 694us/step - loss: 0.5334 - accuracy: 0.7383
Epoch 89/100
804/804 [==============================] - 1s 688us/step - loss: 0.5331 - accuracy: 0.7375
Epoch 90/100
804/804 [==============================] - 1s 708us/step - loss: 0.5334 - accuracy: 0.7378

Epoch 00090: saving model to weights\weights.00000090.h5
Epoch 91/100
804/804 [==============================] - 1s 738us/step - loss: 0.5331 - accuracy: 0.7383
Epoch 92/100
804/804 [==============================] - 1s 657us/step - loss: 0.5333 - accuracy: 0.7383
Epoch 93/100
804/804 [==============================] - 1s 708us/step - loss: 0.5329 - accuracy: 0.7388
Epoch 94/100
804/804 [==============================] - 1s 686us/step - loss: 0.5329 - accuracy: 0.7391
Epoch 95/100
804/804 [==============================] - 1s 702us/step - loss: 0.5328 - accuracy: 0.7380

Epoch 00095: saving model to weights\weights.00000095.h5
Epoch 96/100
804/804 [==============================] - 1s 691us/step - loss: 0.5328 - accuracy: 0.7387
Epoch 97/100
804/804 [==============================] - 1s 679us/step - loss: 0.5326 - accuracy: 0.7379
Epoch 98/100
804/804 [==============================] - 1s 691us/step - loss: 0.5326 - accuracy: 0.7381
Epoch 99/100
804/804 [==============================] - 1s 726us/step - loss: 0.5329 - accuracy: 0.7374
Epoch 100/100
804/804 [==============================] - 1s 696us/step - loss: 0.5329 - accuracy: 0.7379

Epoch 00100: saving model to weights\weights.00000100.h5

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5584 - accuracy: 0.7368
Loss: 0.5583577752113342, Accuracy: 0.7367929816246033

In [23]:
# Export our model to HDF5 file
nn.save("HDf5_file/AlphabetSoupCharity.h5")