## Preprocessing

In [43]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [44]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"],1)

#dropping status since they are all 1
application_df = application_df.drop(["NAME"],1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [45]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [46]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [47]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

#  everything under the 500 classified as other 
application_types_to_replace = list(application_counts[application_counts < 500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [48]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2170        1
C2150        1
C2600        1
C4120        1
C1245        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [49]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts[class_counts >= 10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [50]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

#  everything under the 500 classified as other
classifications_replace = list(class_counts[class_counts < 1000].index)
# Replace in dataframe
for cls in classifications_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [51]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
y_encode_df = application_df["IS_SUCCESSFUL"]


# One-hot encoding test data
X2 = application_df.drop('IS_SUCCESSFUL', axis=1)
X_encode_df = pd.get_dummies(X2)
X_encode_df

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [52]:
#convert string to numberic 
X1 = application_df.drop(["STATUS"],1)
X1 = application_df.apply(pd.to_numeric, errors='coerce')
y1 = application_df.apply(pd.to_numeric, errors='coerce')

# Split our preprocessed data into our features and target arrays
X = X1.drop(["IS_SUCCESSFUL"], axis='columns').values
y = y1["IS_SUCCESSFUL"].values

#Dropping 
print(application_df)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 10 columns]

In [53]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\extmath.py:847: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\extmath.py:689: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)

## Compile, Train and Evaluate the Model

In [54]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

from tensorflow.keras.layers import LeakyReLU, Dense

number_input_features = len(X_train[0])
print(number_input_features)
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()
leaky_relu = LeakyReLU(alpha=0.001)

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation=leaky_relu)
)


# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# ADD third Layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))


# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

9
Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 100)               1000
_________________________________________________________________
dense_13 (Dense)             (None, 30)                3030
_________________________________________________________________
dense_14 (Dense)             (None, 10)                310
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 11
=================================================================
Total params: 4,351
Trainable params: 4,351
Non-trainable params: 0
_________________________________________________________________

In [55]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [56]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 802us/step - loss: nan - accuracy: 0.4679
Epoch 2/100
804/804 [==============================] - 1s 771us/step - loss: nan - accuracy: 0.4679
Epoch 3/100
804/804 [==============================] - 1s 777us/step - loss: nan - accuracy: 0.4679
Epoch 4/100
804/804 [==============================] - 1s 800us/step - loss: nan - accuracy: 0.4679
Epoch 5/100
804/804 [==============================] - 1s 784us/step - loss: nan - accuracy: 0.4679
Epoch 6/100
804/804 [==============================] - 1s 775us/step - loss: nan - accuracy: 0.4679
Epoch 7/100
804/804 [==============================] - 1s 784us/step - loss: nan - accuracy: 0.4679
Epoch 8/100
804/804 [==============================] - 1s 769us/step - loss: nan - accuracy: 0.4679
Epoch 9/100
804/804 [==============================] - 1s 745us/step - loss: nan - accuracy: 0.4679
Epoch 10/100
804/804 [==============================] - 1s 735us/step - loss: nan - accuracy: 0.4679
Epoch 11/100
804/804 [==============================] - 1s 745us/step - loss: nan - accuracy: 0.4679
Epoch 12/100
804/804 [==============================] - 1s 739us/step - loss: nan - accuracy: 0.4679
Epoch 13/100
804/804 [==============================] - 1s 738us/step - loss: nan - accuracy: 0.4679
Epoch 14/100
804/804 [==============================] - 1s 790us/step - loss: nan - accuracy: 0.4679
Epoch 15/100
804/804 [==============================] - 1s 678us/step - loss: nan - accuracy: 0.4679
Epoch 16/100
804/804 [==============================] - 1s 739us/step - loss: nan - accuracy: 0.4679
Epoch 17/100
804/804 [==============================] - 1s 683us/step - loss: nan - accuracy: 0.4679
Epoch 18/100
804/804 [==============================] - 1s 691us/step - loss: nan - accuracy: 0.4679
Epoch 19/100
804/804 [==============================] - 1s 642us/step - loss: nan - accuracy: 0.4679
Epoch 20/100
804/804 [==============================] - 1s 656us/step - loss: nan - accuracy: 0.4679
Epoch 21/100
804/804 [==============================] - 1s 623us/step - loss: nan - accuracy: 0.4679
Epoch 22/100
804/804 [==============================] - 1s 659us/step - loss: nan - accuracy: 0.4679
Epoch 23/100
804/804 [==============================] - 0s 618us/step - loss: nan - accuracy: 0.4679
Epoch 24/100
804/804 [==============================] - 0s 612us/step - loss: nan - accuracy: 0.4679
Epoch 25/100
804/804 [==============================] - 0s 621us/step - loss: nan - accuracy: 0.4679
Epoch 26/100
804/804 [==============================] - 0s 621us/step - loss: nan - accuracy: 0.4679
Epoch 27/100
804/804 [==============================] - 0s 619us/step - loss: nan - accuracy: 0.4679
Epoch 28/100
804/804 [==============================] - 1s 662us/step - loss: nan - accuracy: 0.4679
Epoch 29/100
804/804 [==============================] - 0s 621us/step - loss: nan - accuracy: 0.4679
Epoch 30/100
804/804 [==============================] - 1s 702us/step - loss: nan - accuracy: 0.4679
Epoch 31/100
804/804 [==============================] - 1s 631us/step - loss: nan - accuracy: 0.4679
Epoch 32/100
804/804 [==============================] - 1s 644us/step - loss: nan - accuracy: 0.4679
Epoch 33/100
804/804 [==============================] - 1s 646us/step - loss: nan - accuracy: 0.4679
Epoch 34/100
804/804 [==============================] - 1s 638us/step - loss: nan - accuracy: 0.4679
Epoch 35/100
804/804 [==============================] - 1s 654us/step - loss: nan - accuracy: 0.4679
Epoch 36/100
804/804 [==============================] - 0s 619us/step - loss: nan - accuracy: 0.4679
Epoch 37/100
804/804 [==============================] - 1s 658us/step - loss: nan - accuracy: 0.4679
Epoch 38/100
804/804 [==============================] - 1s 668us/step - loss: nan - accuracy: 0.4679
Epoch 39/100
804/804 [==============================] - 1s 654us/step - loss: nan - accuracy: 0.4679
Epoch 40/100
804/804 [==============================] - 0s 612us/step - loss: nan - accuracy: 0.4679
Epoch 41/100
804/804 [==============================] - 0s 616us/step - loss: nan - accuracy: 0.4679
Epoch 42/100
804/804 [==============================] - 1s 671us/step - loss: nan - accuracy: 0.4679
Epoch 43/100
804/804 [==============================] - 1s 676us/step - loss: nan - accuracy: 0.4679
Epoch 44/100
804/804 [==============================] - 1s 714us/step - loss: nan - accuracy: 0.4679
Epoch 45/100
804/804 [==============================] - 1s 673us/step - loss: nan - accuracy: 0.4679
Epoch 46/100
804/804 [==============================] - 1s 658us/step - loss: nan - accuracy: 0.4679
Epoch 47/100
804/804 [==============================] - 1s 678us/step - loss: nan - accuracy: 0.4679
Epoch 48/100
804/804 [==============================] - 1s 669us/step - loss: nan - accuracy: 0.4679
Epoch 49/100
804/804 [==============================] - 1s 669us/step - loss: nan - accuracy: 0.4679
Epoch 50/100
804/804 [==============================] - 1s 681us/step - loss: nan - accuracy: 0.4679
Epoch 51/100
804/804 [==============================] - 1s 689us/step - loss: nan - accuracy: 0.4679
Epoch 52/100
804/804 [==============================] - 1s 651us/step - loss: nan - accuracy: 0.4679
Epoch 53/100
804/804 [==============================] - 1s 657us/step - loss: nan - accuracy: 0.4679
Epoch 54/100
804/804 [==============================] - 1s 666us/step - loss: nan - accuracy: 0.4679
Epoch 55/100
804/804 [==============================] - 1s 671us/step - loss: nan - accuracy: 0.4679
Epoch 56/100
804/804 [==============================] - 1s 671us/step - loss: nan - accuracy: 0.4679
Epoch 57/100
804/804 [==============================] - 1s 683us/step - loss: nan - accuracy: 0.4679
Epoch 58/100
804/804 [==============================] - 1s 681us/step - loss: nan - accuracy: 0.4679
Epoch 59/100
804/804 [==============================] - 1s 666us/step - loss: nan - accuracy: 0.4679
Epoch 60/100
804/804 [==============================] - 1s 708us/step - loss: nan - accuracy: 0.4679
Epoch 61/100
804/804 [==============================] - 1s 647us/step - loss: nan - accuracy: 0.4679
Epoch 62/100
804/804 [==============================] - 1s 666us/step - loss: nan - accuracy: 0.4679
Epoch 63/100
804/804 [==============================] - 1s 674us/step - loss: nan - accuracy: 0.4679
Epoch 64/100
804/804 [==============================] - 1s 662us/step - loss: nan - accuracy: 0.4679
Epoch 65/100
804/804 [==============================] - 1s 657us/step - loss: nan - accuracy: 0.4679
Epoch 66/100
804/804 [==============================] - 1s 666us/step - loss: nan - accuracy: 0.4679
Epoch 67/100
804/804 [==============================] - 1s 678us/step - loss: nan - accuracy: 0.4679
Epoch 68/100
804/804 [==============================] - 1s 664us/step - loss: nan - accuracy: 0.4679
Epoch 69/100
804/804 [==============================] - 1s 664us/step - loss: nan - accuracy: 0.4679
Epoch 70/100
804/804 [==============================] - 1s 688us/step - loss: nan - accuracy: 0.4679
Epoch 71/100
804/804 [==============================] - 1s 657us/step - loss: nan - accuracy: 0.4679
Epoch 72/100
804/804 [==============================] - 1s 656us/step - loss: nan - accuracy: 0.4679
Epoch 73/100
804/804 [==============================] - 1s 683us/step - loss: nan - accuracy: 0.4679
Epoch 74/100
804/804 [==============================] - 1s 768us/step - loss: nan - accuracy: 0.4679
Epoch 75/100
804/804 [==============================] - 1s 757us/step - loss: nan - accuracy: 0.4679
Epoch 76/100
804/804 [==============================] - 1s 681us/step - loss: nan - accuracy: 0.4679
Epoch 77/100
804/804 [==============================] - 1s 649us/step - loss: nan - accuracy: 0.4679
Epoch 78/100
804/804 [==============================] - 1s 654us/step - loss: nan - accuracy: 0.4679
Epoch 79/100
804/804 [==============================] - 1s 649us/step - loss: nan - accuracy: 0.4679
Epoch 80/100
804/804 [==============================] - 0s 619us/step - loss: nan - accuracy: 0.4679
Epoch 81/100
804/804 [==============================] - 1s 639us/step - loss: nan - accuracy: 0.4679
Epoch 82/100
804/804 [==============================] - 1s 644us/step - loss: nan - accuracy: 0.4679
Epoch 83/100
804/804 [==============================] - 1s 653us/step - loss: nan - accuracy: 0.4679
Epoch 84/100
804/804 [==============================] - 1s 644us/step - loss: nan - accuracy: 0.4679
Epoch 85/100
804/804 [==============================] - 1s 661us/step - loss: nan - accuracy: 0.4679
Epoch 86/100
804/804 [==============================] - 1s 634us/step - loss: nan - accuracy: 0.4679
Epoch 87/100
804/804 [==============================] - 1s 639us/step - loss: nan - accuracy: 0.4679
Epoch 88/100
804/804 [==============================] - 1s 647us/step - loss: nan - accuracy: 0.4679
Epoch 89/100
804/804 [==============================] - 1s 669us/step - loss: nan - accuracy: 0.4679
Epoch 90/100
804/804 [==============================] - 1s 754us/step - loss: nan - accuracy: 0.4679
Epoch 91/100
804/804 [==============================] - 1s 662us/step - loss: nan - accuracy: 0.4679
Epoch 92/100
804/804 [==============================] - 0s 617us/step - loss: nan - accuracy: 0.4679
Epoch 93/100
804/804 [==============================] - 1s 661us/step - loss: nan - accuracy: 0.4679
Epoch 94/100
804/804 [==============================] - 0s 607us/step - loss: nan - accuracy: 0.4679
Epoch 95/100
804/804 [==============================] - 1s 648us/step - loss: nan - accuracy: 0.4679
Epoch 96/100
804/804 [==============================] - 0s 606us/step - loss: nan - accuracy: 0.4679
Epoch 97/100
804/804 [==============================] - 1s 740us/step - loss: nan - accuracy: 0.4679
Epoch 98/100
804/804 [==============================] - 1s 631us/step - loss: nan - accuracy: 0.4679
Epoch 99/100
804/804 [==============================] - 0s 616us/step - loss: nan - accuracy: 0.4679
Epoch 100/100
804/804 [==============================] - 1s 627us/step - loss: nan - accuracy: 0.4679

In [57]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: nan - accuracy: 0.4668
Loss: nan, Accuracy: 0.46682214736938477

In [58]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE