## Preprocessing

In [215]:
#T.Bradford
# October 2021

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [216]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"],1)

#Name is required Accuracy mid 40% with out
#application_df = application_df.drop(["NAME"],1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [217]:
# Determine the number of unique values in each column.

application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [218]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [219]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

#  everything under the 500 classified as other 
application_types_to_replace = list(application_counts[application_counts < 500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [220]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1820        1
C1236        1
C2190        1
C2561        1
C1245        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [221]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts >= 10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [222]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

#  everything under the 500 classified as other
classifications_replace = list(class_counts[class_counts < 500].index)
# Replace in dataframe
for cls in classifications_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [223]:
# Look at NAME value counts for binning
name_counts = application_df.NAME.value_counts()
#  How many name counts are greater than 5?
name_counts[name_counts>5]


replace_application = list(name_counts[name_counts <= 5].index)

In [224]:
# Determine which values to replace if counts are less than 6.
replace_application = list(name_counts[name_counts < 5].index)

# Replace in dataframe
for app in replace_application:
    application_df.NAME = application_df.NAME.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.NAME.value_counts()

Other                                                                    19803
PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
                                                                         ...
UNITED ASSOCIATION OF JOURNEYMEN & APPRENTICES OF THE PLUMBING & PIPE        5
ROYAL ORDER OF JESTERS                                                       5
INTERNATIONAL ASSOCIATION OF FORENSIC NURSES                                 5
NATIONAL ASSOCIATION OF WATCH AND CLOCK COLLECTORS INC                       5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS            5
Name: NAME, Length: 403, dtype: int64

In [225]:
#  everything under 6 classified as other
classifications_replace = list(name_counts[name_counts < 5].index)
# Replace in dataframe
for cls in classifications_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [226]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = application_df.drop(["STATUS"],1)
#application_df = application_df.drop(["ASK_AMT"],1)
y = application_df["IS_SUCCESSFUL"]

# One-hot encoding data
X2 = application_df.drop(["IS_SUCCESSFUL"], axis='columns')
X = pd.get_dummies(X2)
X

,ASK_AMT,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,36500179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [227]:
#merge encoded data with application data
application_df = application_df.merge(X,left_index=True, right_index=True)

#application_df = application_df.drop(application_cat)
print(application_df.info())

application_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Columns: 456 entries, NAME to SPECIAL_CONSIDERATIONS_Y
dtypes: int64(3), object(8), uint8(445)
memory usage: 17.4+ MB
None

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT_x,IS_SUCCESSFUL,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,N,5000,1,...,0,0,0,0,0,0,0,0,1,0
1,Other,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1,...,1,0,0,0,0,0,0,0,1,0
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1,...,0,1,0,0,0,0,0,0,1,0
4,Other,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1,...,0,0,1,0,0,0,0,0,1,0

In [228]:
# find obect data types
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
print(application_cat)

['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [229]:
#drop obect data types from dataframe 
application_df = application_df.drop(["NAME"],1)
application_df = application_df.drop(["APPLICATION_TYPE"],1)
application_df = application_df.drop(["AFFILIATION"],1)
application_df = application_df.drop(["CLASSIFICATION"],1)
application_df = application_df.drop(["USE_CASE"],1)
application_df = application_df.drop(["ORGANIZATION"],1)
application_df = application_df.drop(["INCOME_AMT"],1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"],1)
application_df.head()

,ASK_AMT_x,IS_SUCCESSFUL,ASK_AMT_y,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,108590,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,6692,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,142590,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [230]:
#drop ASK_AMT_y extra from get_dummies
application_df = application_df.drop(["ASK_AMT_y"],1)
#rename ASK_AMT_x renamed when used get_dummies
application_df.rename(columns={'ASK_AMT_x': 'ASK_AMT'}, inplace=True)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [231]:
#convert string to numberic was getting  ValueError: could not convert string to float:

# X1 = application_df.drop(["STATUS"],1)
#X = application_df.apply(pd.to_numeric, errors='coerce')
#1 = application_df.apply(pd.to_numeric, errors='coerce')


#drop categorical data and separate target
X = application_df.drop(["IS_SUCCESSFUL"], axis='columns').values

y = application_df["IS_SUCCESSFUL"].values


#Dropping 
print(application_df)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

        ASK_AMT  IS_SUCCESSFUL  NAME_AACE INTERNATIONAL  \
0          5000              1                        0
1        108590              1                        0
2          5000              0                        0
3          6692              1                        0
4        142590              1                        0
...         ...            ...                      ...
34294      5000              0                        0
34295      5000              0                        0
34296      5000              0                        0
34297      5000              1                        0
34298  36500179              0                        0

       NAME_ACE MENTOR PROGRAM OF AMERICA INC  NAME_ACTS MINISTRY  \
0                                           0                   0
1                                           0                   0
2                                           0                   0
3                                           0                   0
4                                           0                   0
...                                       ...                 ...
34294                                       0                   0
34295                                       0                   0
34296                                       0                   0
34297                                       0                   0
34298                                       0                   0

       NAME_ACTS MISSIONS  \
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
34294                   0
34295                   0
34296                   0
34297                   0
34298                   0

       NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
34294                                                  0
34295                                                  0
34296                                                  0
34297                                                  0
34298                                                  0

       NAME_AIR FORCE ASSOCIATION  NAME_ALABAMA FEDERATION OF WOMENS CLUBS  \
0                               0                                        0
1                               0                                        0
2                               0                                        0
3                               0                                        0
4                               0                                        0
...                           ...                                      ...
34294                           0                                        0
34295                           0                                        0
34296                           0                                        0
34297                           0                                        0
34298                           0                                        0

       NAME_ALABAMA TREASURE FOREST ASSOCIATION  ...  INCOME_AMT_1-9999  \
0                                             0  ...                  0
1                                             0  ...                  1
2                                             0  ...                  0
3                                             0  ...                  0
4                                             0  ...                  0
...                                         ...  ...                ...
34294                                         0  ...                  0
34295                                         0  ...                  0
34296                                         0  ...                  0
34297                                         0  ...                  0
34298                                         0  ...                  0

       INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  \
0                           0                         0                   0
1                           0                         0                   0
2                           0                         0                   0
3                           1                         0                   0
4                           0                         1                   0
...                       ...                       ...                 ...
34294                       0                         0                   0
34295                       0                         0                   0
34296                       0                         0                   0
34297                       0                         0                   0
34298                       0                         0                   0

       INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  INCOME_AMT_50M+  \
0                     0                       0                0
1                     0                       0                0
2                     0                       0                0
3                     0                       0                0
4                     0                       0                0
...                 ...                     ...              ...
34294                 0                       0                0
34295                 0                       0                0
34296                 0                       0                0
34297                 0                       0                0
34298                 1                       0                0

       INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                      0                         1                         0
1                      0                         1                         0
2                      0                         1                         0
3                      0                         1                         0
4                      0                         1                         0
...                  ...                       ...                       ...
34294                  0                         1                         0
34295                  0                         1                         0
34296                  0                         1                         0
34297                  0                         1                         0
34298                  0                         1                         0

[34299 rows x 447 columns]

In [232]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [238]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from tensorflow.keras.layers import LeakyReLU, Dense

number_input_features = len(X_train[0])
print(number_input_features)
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()
leaky_relu = LeakyReLU(alpha=0.001)

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation=leaky_relu))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# ADD third Layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

446
Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 100)               44700
_________________________________________________________________
dense_21 (Dense)             (None, 50)                5050
_________________________________________________________________
dense_22 (Dense)             (None, 10)                510
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 11
=================================================================
Total params: 50,271
Trainable params: 50,271
Non-trainable params: 0
_________________________________________________________________

In [239]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [240]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 862us/step - loss: 0.4878 - accuracy: 0.7737
Epoch 2/100
804/804 [==============================] - 1s 884us/step - loss: 0.4395 - accuracy: 0.7952
Epoch 3/100
804/804 [==============================] - 1s 924us/step - loss: 0.4308 - accuracy: 0.7976
Epoch 4/100
804/804 [==============================] - 1s 844us/step - loss: 0.4270 - accuracy: 0.7987
Epoch 5/100
804/804 [==============================] - 1s 803us/step - loss: 0.4240 - accuracy: 0.7990
Epoch 6/100
804/804 [==============================] - 1s 783us/step - loss: 0.4216 - accuracy: 0.7992
Epoch 7/100
804/804 [==============================] - 1s 787us/step - loss: 0.4207 - accuracy: 0.8002
Epoch 8/100
804/804 [==============================] - 1s 785us/step - loss: 0.4183 - accuracy: 0.8008
Epoch 9/100
804/804 [==============================] - 1s 783us/step - loss: 0.4176 - accuracy: 0.8016
Epoch 10/100
804/804 [==============================] - 1s 798us/step - loss: 0.4171 - accuracy: 0.8030
Epoch 11/100
804/804 [==============================] - 1s 813us/step - loss: 0.4163 - accuracy: 0.8028
Epoch 12/100
804/804 [==============================] - 1s 825us/step - loss: 0.4151 - accuracy: 0.8026
Epoch 13/100
804/804 [==============================] - 1s 789us/step - loss: 0.4150 - accuracy: 0.8033
Epoch 14/100
804/804 [==============================] - 1s 789us/step - loss: 0.4134 - accuracy: 0.8028
Epoch 15/100
804/804 [==============================] - 1s 785us/step - loss: 0.4132 - accuracy: 0.8039
Epoch 16/100
804/804 [==============================] - 1s 788us/step - loss: 0.4124 - accuracy: 0.8042
Epoch 17/100
804/804 [==============================] - 1s 840us/step - loss: 0.4122 - accuracy: 0.8032
Epoch 18/100
804/804 [==============================] - 1s 783us/step - loss: 0.4114 - accuracy: 0.8051
Epoch 19/100
804/804 [==============================] - 1s 784us/step - loss: 0.4110 - accuracy: 0.8037
Epoch 20/100
804/804 [==============================] - 1s 784us/step - loss: 0.4107 - accuracy: 0.8048
Epoch 21/100
804/804 [==============================] - 1s 779us/step - loss: 0.4095 - accuracy: 0.8054
Epoch 22/100
804/804 [==============================] - 1s 785us/step - loss: 0.4092 - accuracy: 0.8038
Epoch 23/100
804/804 [==============================] - 1s 784us/step - loss: 0.4088 - accuracy: 0.8054
Epoch 24/100
804/804 [==============================] - 1s 784us/step - loss: 0.4082 - accuracy: 0.8058
Epoch 25/100
804/804 [==============================] - 1s 783us/step - loss: 0.4083 - accuracy: 0.8058
Epoch 26/100
804/804 [==============================] - 1s 783us/step - loss: 0.4075 - accuracy: 0.8051
Epoch 27/100
804/804 [==============================] - 1s 784us/step - loss: 0.4070 - accuracy: 0.8064
Epoch 28/100
804/804 [==============================] - 1s 782us/step - loss: 0.4068 - accuracy: 0.8065
Epoch 29/100
804/804 [==============================] - 1s 854us/step - loss: 0.4063 - accuracy: 0.8056
Epoch 30/100
804/804 [==============================] - 1s 780us/step - loss: 0.4062 - accuracy: 0.8063
Epoch 31/100
804/804 [==============================] - 1s 785us/step - loss: 0.4057 - accuracy: 0.8062
Epoch 32/100
804/804 [==============================] - 1s 782us/step - loss: 0.4053 - accuracy: 0.8074
Epoch 33/100
804/804 [==============================] - 1s 783us/step - loss: 0.4053 - accuracy: 0.8076
Epoch 34/100
804/804 [==============================] - 1s 787us/step - loss: 0.4046 - accuracy: 0.8078
Epoch 35/100
804/804 [==============================] - 1s 784us/step - loss: 0.4048 - accuracy: 0.8066
Epoch 36/100
804/804 [==============================] - 1s 787us/step - loss: 0.4042 - accuracy: 0.8072
Epoch 37/100
804/804 [==============================] - 1s 780us/step - loss: 0.4039 - accuracy: 0.8070
Epoch 38/100
804/804 [==============================] - 1s 784us/step - loss: 0.4036 - accuracy: 0.8078
Epoch 39/100
804/804 [==============================] - 1s 797us/step - loss: 0.4028 - accuracy: 0.8082
Epoch 40/100
804/804 [==============================] - 1s 789us/step - loss: 0.4035 - accuracy: 0.8077
Epoch 41/100
804/804 [==============================] - 1s 783us/step - loss: 0.4030 - accuracy: 0.8077
Epoch 42/100
804/804 [==============================] - 1s 844us/step - loss: 0.4026 - accuracy: 0.8083
Epoch 43/100
804/804 [==============================] - 1s 783us/step - loss: 0.4024 - accuracy: 0.8082
Epoch 44/100
804/804 [==============================] - 1s 788us/step - loss: 0.4024 - accuracy: 0.8077
Epoch 45/100
804/804 [==============================] - 1s 785us/step - loss: 0.4019 - accuracy: 0.8082
Epoch 46/100
804/804 [==============================] - 1s 789us/step - loss: 0.4020 - accuracy: 0.8089
Epoch 47/100
804/804 [==============================] - 1s 804us/step - loss: 0.4016 - accuracy: 0.8091
Epoch 48/100
804/804 [==============================] - 1s 795us/step - loss: 0.4019 - accuracy: 0.8085
Epoch 49/100
804/804 [==============================] - 1s 784us/step - loss: 0.4015 - accuracy: 0.8087
Epoch 50/100
804/804 [==============================] - 1s 785us/step - loss: 0.4010 - accuracy: 0.8095
Epoch 51/100
804/804 [==============================] - 1s 792us/step - loss: 0.4012 - accuracy: 0.8091
Epoch 52/100
804/804 [==============================] - 1s 788us/step - loss: 0.4011 - accuracy: 0.8092
Epoch 53/100
804/804 [==============================] - 1s 787us/step - loss: 0.4010 - accuracy: 0.8085
Epoch 54/100
804/804 [==============================] - 1s 805us/step - loss: 0.4007 - accuracy: 0.8086
Epoch 55/100
804/804 [==============================] - 1s 905us/step - loss: 0.4007 - accuracy: 0.8094
Epoch 56/100
804/804 [==============================] - 1s 770us/step - loss: 0.4005 - accuracy: 0.8090
Epoch 57/100
804/804 [==============================] - 1s 958us/step - loss: 0.4004 - accuracy: 0.8092
Epoch 58/100
804/804 [==============================] - 1s 754us/step - loss: 0.4002 - accuracy: 0.8097
Epoch 59/100
804/804 [==============================] - 1s 872us/step - loss: 0.4003 - accuracy: 0.8089
Epoch 60/100
804/804 [==============================] - 1s 968us/step - loss: 0.4001 - accuracy: 0.8099
Epoch 61/100
804/804 [==============================] - 1s 814us/step - loss: 0.3998 - accuracy: 0.8101
Epoch 62/100
804/804 [==============================] - 1s 864us/step - loss: 0.3995 - accuracy: 0.8094
Epoch 63/100
804/804 [==============================] - 1s 892us/step - loss: 0.3997 - accuracy: 0.8099
Epoch 64/100
804/804 [==============================] - 1s 757us/step - loss: 0.3994 - accuracy: 0.8102
Epoch 65/100
804/804 [==============================] - 1s 767us/step - loss: 0.3990 - accuracy: 0.8097
Epoch 66/100
804/804 [==============================] - 1s 813us/step - loss: 0.3990 - accuracy: 0.8096
Epoch 67/100
804/804 [==============================] - 1s 758us/step - loss: 0.3995 - accuracy: 0.8094
Epoch 68/100
804/804 [==============================] - 1s 744us/step - loss: 0.3992 - accuracy: 0.8094
Epoch 69/100
804/804 [==============================] - 1s 738us/step - loss: 0.3990 - accuracy: 0.8105
Epoch 70/100
804/804 [==============================] - 1s 762us/step - loss: 0.3988 - accuracy: 0.8099
Epoch 71/100
804/804 [==============================] - 1s 737us/step - loss: 0.3987 - accuracy: 0.8097
Epoch 72/100
804/804 [==============================] - 1s 782us/step - loss: 0.3986 - accuracy: 0.8105
Epoch 73/100
804/804 [==============================] - 1s 754us/step - loss: 0.3990 - accuracy: 0.8099
Epoch 74/100
804/804 [==============================] - 1s 758us/step - loss: 0.3987 - accuracy: 0.8094
Epoch 75/100
804/804 [==============================] - 1s 857us/step - loss: 0.3990 - accuracy: 0.8097
Epoch 76/100
804/804 [==============================] - 1s 752us/step - loss: 0.3983 - accuracy: 0.8102
Epoch 77/100
804/804 [==============================] - 1s 753us/step - loss: 0.3982 - accuracy: 0.8103
Epoch 78/100
804/804 [==============================] - 1s 728us/step - loss: 0.3981 - accuracy: 0.8103
Epoch 79/100
804/804 [==============================] - 1s 748us/step - loss: 0.3983 - accuracy: 0.8103
Epoch 80/100
804/804 [==============================] - 1s 752us/step - loss: 0.3983 - accuracy: 0.8108
Epoch 81/100
804/804 [==============================] - 1s 764us/step - loss: 0.3984 - accuracy: 0.8103
Epoch 82/100
804/804 [==============================] - 1s 753us/step - loss: 0.3986 - accuracy: 0.8097
Epoch 83/100
804/804 [==============================] - 1s 769us/step - loss: 0.3985 - accuracy: 0.8101
Epoch 84/100
804/804 [==============================] - 1s 839us/step - loss: 0.3982 - accuracy: 0.8111
Epoch 85/100
804/804 [==============================] - 1s 828us/step - loss: 0.3979 - accuracy: 0.8104
Epoch 86/100
804/804 [==============================] - 1s 775us/step - loss: 0.3981 - accuracy: 0.8107
Epoch 87/100
804/804 [==============================] - 1s 765us/step - loss: 0.3976 - accuracy: 0.8109
Epoch 88/100
804/804 [==============================] - 1s 764us/step - loss: 0.3984 - accuracy: 0.8105
Epoch 89/100
804/804 [==============================] - 1s 770us/step - loss: 0.3980 - accuracy: 0.8104
Epoch 90/100
804/804 [==============================] - 1s 763us/step - loss: 0.3975 - accuracy: 0.8102
Epoch 91/100
804/804 [==============================] - 1s 763us/step - loss: 0.3977 - accuracy: 0.8110
Epoch 92/100
804/804 [==============================] - 1s 774us/step - loss: 0.3973 - accuracy: 0.8108
Epoch 93/100
804/804 [==============================] - 1s 768us/step - loss: 0.3977 - accuracy: 0.8110
Epoch 94/100
804/804 [==============================] - 1s 788us/step - loss: 0.3976 - accuracy: 0.8107
Epoch 95/100
804/804 [==============================] - 1s 769us/step - loss: 0.3977 - accuracy: 0.8106
Epoch 96/100
804/804 [==============================] - 1s 823us/step - loss: 0.3973 - accuracy: 0.8110
Epoch 97/100
804/804 [==============================] - 1s 763us/step - loss: 0.3973 - accuracy: 0.8107
Epoch 98/100
804/804 [==============================] - 1s 762us/step - loss: 0.3969 - accuracy: 0.8110
Epoch 99/100
804/804 [==============================] - 1s 768us/step - loss: 0.3971 - accuracy: 0.8110
Epoch 100/100
804/804 [==============================] - 1s 808us/step - loss: 0.3972 - accuracy: 0.8101

In [241]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4494 - accuracy: 0.7918
Loss: 0.44944408535957336, Accuracy: 0.7918367385864258

In [242]:
# Export our model to HDF5 file
nn.save("Output/AlphabetSoupCharity.h5")